.card {
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto", "Helvetica", sans-serif;
}

.card-body {
    display: flex;
}

.section {
  text-align: left;
}

.section-header {
  text-align: left;
  padding: 5px;
  font-weight: bold;
}

.ingredients-list {
    overflow-y: scroll;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.ingredient-item {
    width: 30%;
}