.card {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto", "Helvetica", sans-serif;
}

.card-body {
    display: flex;
}

.section {
  text-align: left;
}

.section-header {
  text-align: left;
  padding: 5px;
  font-weight: bold;
}

.ingredients-list {
    overflow-y: scroll;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 500px;
}

.ingredient-item {
    width: 100%;
}

.price-button-container {
  padding: 20px;
}